
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

body {
	margin-top:1rem;
}

.threads {
	background:#FFF;
	border:2px solid #F5F5F5;
}

.menu {
	background:#FFF;
	border:2px solid #F5F5F5;
	padding:0.5rem;
}

.threads .row {
	border-bottom:1px solid #F5F5F5;
}

.threads .row.reply {
	border:0px;
}

.item {
	padding:0.5rem;
	color:#999;
}

.item h2 {
	color:#000;
}

.threads .row .item {
	padding-top:1.5rem;
}

.item img {
	max-width:100%;
}

.avatar {
	margin-top:2rem;
	width:40px;
	border-radius:50%;
	border:2px solid white;
}